// Custom.scss

// $primary: #131722;

// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here



.logo{
    height: 38px;
    width: 127.11px;
}

